/* html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
} */

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  display: block;
  background: black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: url('/sprites/mousePointer.png'), auto;
}

canvas {
  width: 100%;
  background: black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: 'fontRetroGaming';
  /* src: url("/fonts/Retro Gaming.ttf") format("truetype"); */
  src: url("/fonts/pixelFont-7-8x14-sproutLands.ttf")
  /* src: url("/fonts/PressStart2P-Regular.ttf") format("truetype"); */
}
